body{
   background: #000;
   color: aliceblue ;
   text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
   0 0 80px #00b3ff, 0 0 120px #00b3ff;;
}

#select {
   border-radius: 8px;
   width: 100px;
   height: 30px;
}